body {
  background-color: #222222;
  color: #AA00FF;
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size-adjust: 1;
  text-align: center;
}

p {
  text-align: left;
}

img {
  position: absolute;
}

.nav {
  background-color: #191919;
  text-align: center;
  padding: 5px 10px;
  overflow: hidden;
  
}
